<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card (click)="scan()">
    <h3>Escanear</h3>
  </ion-card>


  <ion-card *ngFor="let i of qr">
    <h3>Docente: {{i.docente}}</h3>
    <h3>Asignatura: {{i.asignatura}}</h3>
    <h3>Sala: {{i.sala}}</h3>
    <h3>Fecha: {{i.fecha}}</h3>
    <h3>Hora: {{i.hora}}</h3>
    <div class="box">
      <ion-button (click)="saveDataQr()" color="success" >Aceptar</ion-button>
      <ion-button color="danger">Cancelar</ion-button>
    </div>
  </ion-card>

</ion-content>
