ion-card {
    margin-bottom: 16px;
  }
  
  ion-card-title {
    font-size: 1.5em;
  }
  
  ion-card-header {
    background-color: #3498db;
    color: #ffffff;
  }
  
  ion-content {

    padding: 16px;
  }
  
  ion-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 12px;
  }
  
  ion-list {

    margin-top: 12px;
  }
  
  ion-item {

    border-bottom: 1px solid #ddd;
    padding: 8px;
  }
  
  ion-label {

    display: block;
    margin-bottom: 8px;
  }
  

  