<ion-header class="ion-no-border">
  <ion-toolbar>
    <!--<ion-title>login</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/header1.png"></ion-img>
    <ion-card-header>
      <ion-card-title>
        ¡BIENVENIDO!
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <form [formGroup]="formLogin">
        <ion-item class="email" color="none">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input formControlName="email" pattern=".+"></ion-input>
        </ion-item>
    
        <div *ngIf="formLogin.get('email')?.hasError('required') && formLogin.get('email')">
          El correo electrónico es obligatorio.
        </div>
        <div *ngIf="formLogin.get('email')?.hasError('pattern') && formLogin.get('email')">
          El formato del correo electrónico no es válido.
        </div>
    
        <ion-item class="pass" color="none">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="pass" required></ion-input>
        </ion-item>

        <div *ngIf="formLogin.get('pass')?.hasError('required') && formLogin.get('pass')">
          La contraseña es obligatoria.
        </div>
        <div *ngIf="formLogin.get('pass')?.hasError('pattern') && formLogin.get('pass')">
          La contraseña debe ser un número de 4 dígitos.
        </div>
    
        <div class="signin-btns">
          <ion-button fill="solid" shape="round" class="loginbtn" type="submit" (click)="ingresar()" [disabled]="formLogin.invalid">Ingresar</ion-button>
          <ion-button fill="outline" shape="round" color="medium" (click)="redirectToSignup()">Registrarse</ion-button>
        </div>
        <div class="password_forgot">
          <ion-button fill="clear" class="ion-no-padding">Recuperar Contraseña</ion-button>
        </div>
      </form>

      <div class="text-tag">
        <span>SEGUNDA ENTREGA - PROGRAMACIÓN APLICACIONES MÓVILES:</span>
      </div>

      <div class="students">
        <span>ALUMNOS:</span>
      </div>
      <div class="names">
        JOEL MEDINA, FABIÁN ÁGUILA, ERIC GAISBAUER
      </div>

      <div class="teacher">
        <span>PROFESOR:</span>
      </div>
      <div class="t-name">
        FRANCISCO ITURRA
      </div>

      <div class="seccion">
        <span>SECCIÓN: 010v</span>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
