<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lector de Código QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full" shape="round">
    <ion-icon slot="start" name="videocam-outline"></ion-icon>
    Comenzar Escaneo de QR
  </ion-button>

  <ion-button *ngIf="!escaneando" (click)="detenerEscaneoQR()" expand="full" shape="round">
    <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
    Detener Escaneo de QR
  </ion-button>

  <ion-button (click)="limpiarDatos()" expand="full" shape="round">
    <ion-icon slot="start" name="trash-outline"></ion-icon>
    Limpiar Datos
  </ion-button>

  <video #video [hidden]="!escaneando" width="100%"></video>
  <canvas #canvas hidden></canvas>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Código QR</ion-card-title>
    </ion-card-header>
     <ion-card-content>
      <br>
      Datos: {{ datosQR }}
      <br>
      Escaneando: {{ escaneando }}
      <br>
     </ion-card-content>
  </ion-card>

</ion-content>
