<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>signup</ion-title> -->
    <ion-buttons slot="start">
      <ion-back-button defaulthref = "login" text="">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="bg-color">

  <ion-card class="ion-no-margin">

    <ion-card-header color="#808289">
      <ion-card-title>
        Registrarse
      </ion-card-title>
      <ion-card-subtitle>
        Llena el siguiente formulario para crear tu cuenta:
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item color="E1EAF9">
        <ion-input name="names" type="text" placeholder="Nombre Completo">
          <ion-icon name="person-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item color="E1EAF9">
        <ion-input name="names" type="text" placeholder="Número Telefónico">
          <ion-icon name="call-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item color="E1EAF9">
        <ion-input name="email" type="text" placeholder="Email">
          <ion-icon name="mail-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item color="E1EAF9">
        <ion-input name="rut" type="text" placeholder="RUT">
          <ion-icon name="id-outline"></ion-icon>
        </ion-input>
      </ion-item>
    </ion-card-content>

  </ion-card>

</ion-content>