ion-header {
  position: absolute;
}

ion-toolbar {
  --ion-background-color: transparent;
  --opacity: 0;
}

ion-content {
  --ion-background-color: #E1EAF9;
}

.wrapform {
  margin-top: 30px;
}

ion-item {
  ion-input {
    color: #647B9D;
  }
}