<ion-header class="ion-no-border">
    <ion-toolbar>
        <!-- <ion-title>home</ion-title> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ion-no-margin">
        <ion-img src="assets/images/header1.png"></ion-img>
    </ion-card>

    <ion-item color="none">Bienvenido [Usuario]</ion-item>
    <ion-item color="none">Ubicado en [Localización]</ion-item>
    <ion-item color="none">Contraseña: [Contraseña]</ion-item>
    <ion-item color="none">Mail: [Correo electrónico]</ion-item>
    <ion-item color="none">Rut:[RUT]</ion-item>
    <ion-item color="none">Fono: [Fono]</ion-item>
</ion-content>