ion-content {
    --ion-background-color: #E1EAF9 !important;
}

ion-toolbar {
    --ion-background-color: transparent;
    opacity: 0;
}

ion-header {
    position: absolute;
}

ion-card {
    --ion-background-color: transparent;
box-shadow: none !important;
background: none;
}

ion-item {
    align-items: center;
    color: #74787E;
    --border-color: none;
    --padding-start: 0;
    --inner-pading-end: 0;
}