<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>loginscreen</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaulthref = "login" text=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src ="assets/images/header1.png"></ion-img>
  </ion-card>
  
  <ion-card-content>
    <div class="wrapform">
      <ion-item>
        <ion-input type="text" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="passoword" name="password"></ion-input>
      </ion-item>
    </div>
  </ion-card-content>
</ion-content>